<div class="container">
    <div class="row text-center">
      <div class="col-m-12"></div>
    <div class="footer-copyright text-center py-3 mx-auto" >©2018 Copyright: Dror Tesler </div>
    </div>
  </div>