<div class="container">
  <div class="row">
    <div class="col-m-12">
      <div class="deleteBookDialog">
        <div class="headerDeleteBook font-weight-bold">
          Delete book
        </div>
        <div class="content">
          Are you sure?
        </div>
        <div class="footer">
          <button class="btn btn-outline-danger mr-1" (click)="onOkclick()">Ok</button>
          <button class="btn btn-outline-info" (click)="onCancelclick()">Cancel</button>
        </div>

      </div>
    </div>

  </div>
</div>
