<div class="container">
  <div class="row">
    <div class="col-m-12">
      <div class="addBookDialog">
        <div class="headeraddBook"></div>
        <div class="content">
          <div class="content-row">
            <label for="title">Name:</label>
            <input type="text" class="form-control" id="title" placeholder="title of the book" name="title" [(ngModel)]="addedBook.title">
          </div>
          <div class="content-row">
            <label for="authors">Author Name:</label>
            <input type="text" class="form-control" id="authors" placeholder="authors of the book" name="authors"
              [(ngModel)]="addedBook.authors">
          </div>
          <div class="content-row">
            <label for="title">Published Date: </label>
            <input type="text" class="form-control" id="Published_Date" placeholder="Published_Date" name="Published_Date"
              [(ngModel)]="addedBook.publishedDate">
          </div>
          <div class="content-row">
            <label for="description">Description:</label>
            <textarea name="description" id="description" class="form-control" placeholder="description of the book"  [(ngModel)]="addedBook.description"></textarea>   
          </div>
        </div>
        
        <div class="footer">
          <button class="btn btn-outline-success" (click)="onOkclick()">Ok</button>
          <button class="btn btn-outline-info" (click)="onCancelclick()">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>
