.bookItem{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.bookItemRow{
margin-bottom: 3px;

}
.bookProperty{
  width:110px;
  margin-right: 5px; 
font-weight: bold;
font-size: 18px;
}
.bookitemContent{
  flex: 1;
}