<div class="container">
  <div class="row">
    <div>
        <button   class="btn btn-primary" (click)="OpenAddDialog()" >
            <i class="fa fa-plus"></i>
          Add New Book
            
        </button>
    </div>
    <div class="col-m-6" style="width: 100%" *ngFor="let book of books">
      <div class="bookItem">
        <div class="bookitemContent">
          <div class="bookItemRow"><span class="bookProperty">Name:</span> <span class="name">{{book.title}}</span></div>
          <div class="bookItemRow"> <span class="bookProperty">Author Name: </span> <span class="authors">{{book.authors}}</span></div>
          <div class="bookItemRow"> <span class="bookProperty">Published Date:</span> <span class="publishedDate">
              {{book.publishedDate}}</span></div>
          <div class="bookItemRow"> <span class="bookProperty">Description:</span> <span class="description">
              {{book.description}}</span></div>
        </div>

        <div class="bookItemManage">

          <button class="btn btn-light " (click)="openDialog(book)">
            <i class="fa fa-edit"></i>
              Edit
          </button>
          <button  class="btn btn-danger" (click)="openDeleteDialog(book)">
              <i class="fa fa-remove"></i>
              Delete
          </button>
        </div>
      </div>

    </div>
  </div>

</div>




